In [1]:
!python -m pip install hdfs
#!export PYTHONPATH=$PYTHONPATH:/user-home/999/.local/lib/python3.5
import sys
sys.path.append('/user-home/999/.local/lib/python3.5/site-packages')

import os
os.environ['HTTP_PROXY'] = "http://172.17.0.1:3080"

Requirement already satisfied: hdfs in /user-home/999/.local/lib/python3.5/site-packages
Requirement already satisfied: docopt in /user-home/999/.local/lib/python3.5/site-packages (from hdfs)
Requirement already satisfied: requests>=2.7.0 in /opt/conda/lib/python3.5/site-packages (from hdfs)
Requirement already satisfied: six>=1.9.0 in /opt/conda/lib/python3.5/site-packages (from hdfs)

In [2]:

import pandas as pd
import os
from hdfs import InsecureClient

In [3]:

customers_details = pd.read_csv('../datasets/customer_details_noquotes.csv')
customers_details.head()

,name,subscription_date,phone_brand,phone_model,phone,state,account_length,international_plan,voice_mail_plan,number_vmail_messages,customer_service_calls,churn
0,Grant Rachel,01/04/2017 00:00:00,Apple,iPhone 6,(415) 382-4657,Kansas,128,False,True,25,1,False
1,Paterson Joshua,26/03/2017 00:00:00,LG,G2,(415) 371-7191,Ohio,107,False,True,26,1,False
2,Dickens Lillian,23/03/2016,Samsung,Galaxy Note 4,(415) 358-1921,New Jersey,137,False,False,0,0,False
3,Wright Lucas,02/11/2016 00:00:00,Nokia,Lumia1020,(408) 375-9999,Ohio,84,True,False,0,2,False
4,MacDonald Warren,22/08/2015,Moto,X Play,415 330-6626,Oklahoma,75,True,False,0,3,False

In [4]:

client_hdfs = InsecureClient('http://192.168.54.10:50070', user='bruno.bonnin')
#client_hdfs = InsecureClient('http://172.17.0.4:50070', user='cloudera')

In [5]:

filename = '/user/bruno.bonnin/customer_details.csv'
#filename = '/user/cloudera/customer_details.csv'
with client_hdfs.write(filename, encoding = 'utf-8', overwrite = True) as writer:
    customers_details.to_csv(writer)

In [6]:
with client_hdfs.read('/user/bruno.bonnin/customer_details.csv', encoding = 'utf-8') as reader:
    df = pd.read_csv(reader, index_col=0)
df[0:3]

,name,subscription_date,phone_brand,phone_model,phone,state,account_length,international_plan,voice_mail_plan,number_vmail_messages,customer_service_calls,churn
0,Grant Rachel,01/04/2017 00:00:00,Apple,iPhone 6,(415) 382-4657,Kansas,128,False,True,25,1,False
1,Paterson Joshua,26/03/2017 00:00:00,LG,G2,(415) 371-7191,Ohio,107,False,True,26,1,False
2,Dickens Lillian,23/03/2016,Samsung,Galaxy Note 4,(415) 358-1921,New Jersey,137,False,False,0,0,False

In [9]:
del df
del customers_details

NameError: name 'df' is not defined